.vscode/
*.cred*
/.vs/EDC_Automation/v15/Server/sqlite3
/.vs/EDC_Automation/v15
/APIUtilities/bin/Debug
/BusinessProcesses/bin/Debug
/APIUtilities/obj/Debug
/BusinessProcesses/obj/Debug
/Common/bin/Debug
/Common/obj/Debug
/DBUtilities/bin/Debug
/DBUtilities/obj/Debug
/EDC_Automation/obj/Debug
/Framework/bin/Debug
/Framework/obj/Debug
/Interfaces/bin/Debug
/Interfaces/obj/Debug
/packages/Autofac.Configuration.4.0.1
/packages/FluentAssertions.5.3.2
/packages/Newtonsoft.Json.10.0.3
/packages/Newtonsoft.Json.12.0.2
/packages/NUnit.3.11.0
/packages
/Pages/bin/Debug
/Pages/obj/Debug
/Reports/bin/Debug
/Reports/obj/Debug
/Utilities/bin/Debug
/Utilities/obj/Debug
/XMLUtilities/bin/Debug
/XMLUtilities/obj/Debug
/EDC_Automation/bin/Debug/SpecFlowPlusRunner
/EDC_Automation/bin/Debug
*.suo
*.sqlite
*.sqlite-journal
*.cache
/EDC_Automation/Executed Test Reports/*
/EDC_Automation/Downloads/*