<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecRun" publicKeyToken="d0fc5cc18b3b389b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecRun.Common" publicKeyToken="d0fc5cc18b3b389b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="useALMIntegration" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DataLabsURL" value="http://10.228.10.43/DL5IDSTUP/" />
    <add key="DesignerUrl" value="http://10.228.10.73/US63028/" />
    <add key="WebFocusUrl" value="http://10.228.10.62:8080/ibi_apps/home" />
    <add key="UserName" value="testadmin" />
    <add key="Password" value="Datalabs1234" />
    <add key="WebFocus" value="Yes" />
    <add key="WFUserName" value="admin" />
    <add key="WFPassword" value="P@ssw0rd" />
    <add key="DataManager_UserName" value="DataMgr1" />
    <add key="DataManager_Password" value="Datalabs123" />
    <add key="User1" value="galive" />
    <add key="Password1" value="Datalabs123" />
    <!--Database Server Name should be like "10.228.10.47\SQL2012" or "HYD-EDCSQL-908V\SQL2012"-->
    <add key="DatabaseServerName" value="10.228.10.47\SQL2012" />
    <add key="DatabaseName" value="DL5IDSTUP" />
    <add key="DatabaseUserName" value="sa" />
    <add key="DatabaseUserPwd" value="Datalabs123" />
    <add key="WebServiceEndPoint" value="10.228.10.43" />
    <add key="DLInstanceName" value="DL5IDSTUP" />
    <add key="DSDatabaseServerName" value="10.228.10.80\SQL2012" />
    <add key="DSDatabaseName" value="DS_US63129_LabsEandD" />
    <add key="DSDatabaseUserName" value="sa" />
    <add key="DSDatabaseUserPwd" value="Datalabs123" />
    <add key="DSWebServiceEndPoint" value="10.228.10.73" />
    <add key="DSInstanceName" value="DS_US63129_LabsEandD" />
    <add key="BrowserType" value="Chrome"/>
    <!--
    <add key="BrowserType" value="Chrome"/>
    <add key="BrowserType" value="IE"/>
    <add key="BrowserType" value="Firefox"/>
    If nothing is specified, default browser type is Chrome
    -->
    <!--<add key="MaxWaitInSeconds" value="60" />
    <add key="Application" value="Datalabs" />
    <add key="AppVersion" value="5.7.0.201711153" /> -->
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!--<unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>-->
    <unitTestProvider name="NUnit" />
    <!--<unitTestProvider name="xUnit" />
    <unitTestProvider name="MsTest" />-->
  </specFlow>
</configuration>