<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AllForOne" version="1.0.0.27" targetFramework="net452" />
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Configuration" version="4.0.1" targetFramework="net461" />
  <package id="FluentAssertions" version="5.3.2" targetFramework="net461" />
  <package id="FSharp.Core" version="4.3.3" targetFramework="net461" />
  <package id="HttpMock" version="2.3.0" targetFramework="net461" />
  <package id="Kayak" version="0.7.2" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="15.0.0" targetFramework="net461" />
  <package id="Microsoft.TestPlatform.TestHost" version="16.0.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.Updated" version="15.0.26228" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net461" />
  <package id="Protractor" version="0.11.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.40" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.21.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.13.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.13.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.13.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.4.1" targetFramework="net461" />
  <package id="SpecFlow.MsTest" version="2.4.1" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="2.4.1" targetFramework="net461" />
  <package id="SpecFlow.xUnit" version="2.4.1" targetFramework="net461" />
  <package id="SpecRun.Runner" version="3.0.344" targetFramework="net461" />
  <package id="SpecRun.SpecFlow" version="1.8.5" targetFramework="net461" />
  <package id="SpecRun.SpecFlow.2-4-0" version="1.8.5" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="xunit" version="2.0.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net461" />
  <package id="xunit.core" version="2.0.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net461" />
</packages>